<!DOCTYPE html>
<html lang="en" ng-app="MyFriendsApp">

<head>
    <title>MyFriends App</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <!-- 20170907 wku+ real-time clock from https://deepu.js.org/angular-clock/ -->
    <link rel="stylesheet" href="./bower_components/angular-ui-clock/dist/angular-clock.css">
    <link href="//fonts.googleapis.com/css?family=Syncopate:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <div class="container" ng-controller="MyFriendsCtrl as ctrl">

        <!-- Theme blue-light is defined is css -->
        <ds-widget-clock show-digital theme="blue-light" digital-format="'dd-MMM-yyyy hh:mm:ss a'"></ds-widget-clock>

        <div class="well well-lg">
            <strong>MyFriends App</strong> <span class="badge">{{ ctrl.friends.length }}</span>
            <!-- 20170907 wku* changed numFriends to friends.length instead -->
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="ctrl.search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="ctrl.sortBy('name')">Name <i ng-show="ctrl.propertyName=='name'" class="fa" ng-class="{true : 'fa-caret-down', false:'fa-caret-up'}[ctrl.propertyName == 'name' && ctrl.reverse]"></i></button>
                    <button class="btn btn-primary" ng-click="ctrl.sortBy('email')">Email <i ng-show="ctrl.propertyName=='email'" class="fa" ng-class="{true : 'fa-caret-down', false:'fa-caret-up'}[ctrl.propertyName == 'email' && ctrl.reverse]"></i></button>
                    <button class="btn btn-primary" ng-click="ctrl.sortBy('tel')">Contact number <i ng-show="ctrl.propertyName=='tel'" class="fa" ng-class="{true : 'fa-caret-down', false:'fa-caret-up'}[ctrl.propertyName == 'tel' && ctrl.reverse]"></i></button>
                </div>
            </div>

            <div class="col-sm-4">
                <div>
                    <button type="button" class="btn btn-success pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Add friend
                    </button>
                </div>
            </div>
        </div>

        <!-- add spacing -->
        <div></div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="friend in ctrl.friends | filter: ctrl.search | orderBy: ctrl.propertyName : ctrl.reverse"
                ng-init="expanded=false;" ng-click="expanded = !expanded">
                <p>
                    <span class="glyphicon pull-right" ng-class="{'true' : 'glyphicon-resize-small', false:'glyphicon-resize-full'}[expanded]"></span>
                </p>
                <p>
                    <i class="fa fa-lg" ng-class="{'M' : 'fa-mars', 'F':'fa-venus'}[friend.gender]"></i>
                    <span class="glyphicon glyphicon-user lead"></span> {{ friend.name }}
                    <span class="glyphicon" ng-class="{'true' : 'glyphicon-check text-success', false:'glyphicon-unchecked'}[friend.saved]"></span>
                </p>
                <span class="glyphicon glyphicon-envelope"></span> {{ friend.email }} <br>
                <span class="glyphicon glyphicon-phone"></span> {{ friend.tel }}
                <span class="glyphicon glyphicon-trash pull-right text-danger" ng-click="ctrl.delete(friend)"></span>
                <div ng-show="expanded">
                    <span class="glyphicon glyphicon-calendar"></span> {{ friend.dob }}
                    <!-- 20170908 wku+ qrcode for phone number only -->
                    <div class="text-center">
                        <qrcode data="{{ friend.tel }}" size="200"></qrcode>
                    </div> 
                </div>
            </li>
        </ul>
    </div>

    <!-- scripts here for faster webpage loads -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <!-- 20170907 wku+ real-time clock from https://deepu.js.org/angular-clock/ -->
    <script src="./bower_components/angular-ui-clock/dist/angular-clock.js"></script>
    <script src="./app/app.module.js"></script>
    <!-- 20170908 add service -->
    <script src="./app/services/app.service.js"></script>
    <script src="./app/app.controller.js"></script>
    <!-- 20170908 add qrcode scripts -->
    <script src="./bower_components/qrcode-generator/js/qrcode.js"></script>
    <script src="./bower_components/qrcode-generator/js/qrcode_UTF8.js"></script>
    <script src="./bower_components/angular-qrcode/angular-qrcode.js"></script>
</body>

</html>