div {
    margin-top: 8px;
}

@import url('http://fonts.googleapis.com/css?family=Rationale');
/* this import should be first line in css file else add as <link> in html*/
.widget-clock.blue-light .digital {
  text-align: right;
}
.widget-clock.blue-light .time {
  font-family: 'Rationale', sans-serif;
  font-size: 1.0em;
  color: #1da4eb;
}
   